@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hidden arrow spinner Chrome, Safari, Edge, Opera */
input[type="number"].hidden-arrow::-webkit-outer-spin-button,
input[type="number"].hidden-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hidden arrow spinner Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-wrapper .swiper-slide.width-auto {
  width: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
